extends ../../layouts/default.pug

block css
  link(rel="stylesheet", href="/css/song.css")

block main
  .singer-detail
    .container.my-3
      .row
        .col-12
          .inner-title #{song.title}
          .inner-actions
            div(class="inner-action inner-time")
              <i class="fa-regular fa-clock"></i> 20/10/2023
            div(class="inner-action inner-singer")
              <i class="fa-solid fa-microphone-lines"></i> #{singer.name}
            div(class="inner-action inner-topic")
              <i class="fa-solid fa-music"></i> #{topic.title}
            div(class="inner-action inner-like" song-slug=song.slug)
              <i class="fa-regular fa-thumbs-up"></i> 
              span(class="like-count") #{song.like}
            div(class="inner-action inner-heart")
              <i class="fa-regular fa-heart"></i> Bài hát yêu thích
          .inner-play
            .inner-avatar
              img(src=song.avatar)
            .inner-audio
              div(id="aplayer" song-info=song singer=singer.name)
          .inner-desc
            .inner-label Mô tả
            .inner-text
              | #{song.description}
          .inner-desc
            .inner-label Lời bài hát
            .inner-text
              | !{song.lyrics}
              